html{
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

.footer-wrap{
    display: flex;
    justify-content: space-around;
}

.nav-black{
    background-color: violet;
    opacity: 0,8;
    color: white;
}